priority -50

###########################################################################
#                            Javascript Snippets                            #
###########################################################################



# vim:ft=snippets:
